/* FONTS */
@import url('./fonts.css');

/* COMPONENTS */
@import url('./header.css');
@import url('./little-frames.css');

/* ANIMATIONS */
@import url('./animations/anim.css');
@import url('./animations/headerAnim.css');
@import url('./animations/contentAnim.css');
@import url('./animations/hiAnim.css');
@import url('./animations/name-anim.css');
@import url('./animations/im-anim.css');
@import url('./animations/edouard-anim.css');
@import url('./animations/rav-anim.css');
@import url('./animations/little-frames-anim.css');
@import url('./animations/details-anim.css');

:root {
  --content-width: 900px;
  --content-height: 1700px;

  /* DESKTOP */
  @media (min-width: 992px) {
    --rotation-degree: 345deg;
    --content-margin-bottom: 100;
  }
  /* TABLET */
  @media (min-width: 576px) and (max-width: 992px) {
    --rotation-degree: 0deg;
    --content-margin-bottom: 95;
  }
  /* MOBILE */
  @media (max-width: 576px) {
    --rotation-degree: 0deg;
    --content-margin-bottom: -20;
  }

  /* colors */
  --light-green: #00CEB5;
  --vanilla: #FCF6B1;
  --rusty-red: #D33F49;
  --charcoal: #353A47;
  --charcoal-light: #474C58;

  --darker-green: #3EBFA8;
  --lighter-green: #cefff4;
  /*--almost-black: #364958;*/
  --almost-black: #2c3130;
  --grey: #425E57;
  --darker-grey: #2D3F3A;

  --init-screen-width: 125px;
  --init-screen-height: 90px;
  --grow-screen-width: 400px;
  --grow-screen-height: 300px;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'iAQuattro', sans-serif;
  color: var(--charcoal-light);
  margin: 0;
}

.body-bg {
  background: url('../img/mesh-gradient.png') no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  font-size: 6.5em;
  margin-top: 0;
  letter-spacing: 3px;
  margin-bottom: -10px;
}

p {
  font-size: 3em;
  margin-bottom: 0;
}

.stroke {
  font-family: 'CabinetGrotesk-ExtraBold';

  .dot {
    font-family: 'Inter', sans-serif;
  }
}

.flex {
  display: flex;
  gap: 10px;
}
