@media (min-width: 576px) {
  :root {
    --hi-scale: 1;
  }
}

@media (max-width: 576px) {
  :root {
    --hi-scale: 0.5;
  }
}

@supports (animation-timeline: scroll()) {
  @keyframes hi-anim {
    0% {
      transform: scale(var(--hi-scale)) rotate(var(--head-rotation-degree));
    }

    10% {
      opacity: 0;
      transform: scale(var(--hi-scale)) translate(30px) rotate(var(--head-rotation-degree));
      pointer-events: none;
    }

    100% {
      opacity: 0;
      transform: scale(var(--hi-scale)) translate(30px) rotate(var(--head-rotation-degree));
      pointer-events: none;
    }
  }

  .hi-anim {
    animation: hi-anim linear auto both;
    animation-timeline: scroll();
    animation-range: 0 100%;
  }
}

@supports not (animation-timeline: scroll()) {
  .hi-anim {
    transition: all 0.3s ease;
  }

  .hi-anim.scrolled {
    opacity: 0;
      transform: scale(var(--hi-scale)) translate(30px) rotate(var(--head-rotation-degree));
    pointer-events: none;
  }
}
