:root {
  --init-y: 105px;
  --init-x: -60px;
  --ease: cubic-bezier(0, .66, .28, .99);
}

.anim-raise {
  animation: animRaise 0.8s var(--ease);
}

@keyframes animRaise {
  0% {
    opacity: 0;
    transform: translateY(var(--init-y));
  }

  10% {
    opacity: 0;
    transform: translateY(var(--init-y));
  }

  100% {
    opacity: 100;
    transform: translateY(0px);
  }
}

.anim-slide {
  animation: animSlide 0.8s ease;
}

@keyframes animSlide {
  0% {
    opacity: 0;
    transform: translateX(var(--init-x));
  }

  30% {
    opacity: 0;
    transform: translateX(var(--init-x));
  }

  100% {
    opacity: 100;
    transform: translateX(0px);
  }
}

.anim-push {
  animation: animPush 0.3s linear;
}

:root {
  --pushing-height: 8px;
}

@keyframes animPush {
  0% {
    transform: translateY(0px);
  }

  40% {
    transform: translateY(var(--pushing-height));
  }

  60% {
    transform: translateY(var(--pushing-height));
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes animGrow {
  0% {
    height: var(--init-screen-height);
    width: var(--init-screen-width);
  }

  100% {
    height: 200px;
    width: 200px;
  }
}

@keyframes animShrink {
  0% {
    height: 200px;
    width: 200px;
  }
  100% {
    height: var(--init-screen-height);
    width: var(--init-screen-width);
  }
}
