@supports (animation-timeline: scroll()) {
  @keyframes content-anim {
    0% {
      transform: rotate(var(--rotation-degree));
    }

    100% {
      transform: rotate(var(--rotation-degree)) translateY(var(--content-translate-y));
    }
  }

  .content-anim {
    animation: content-anim linear auto both;
    animation-timeline: scroll();
    animation-range: 0 100%;
  }
}

@supports not (animation-timeline: scroll()) {
  .content-anim {
    transform: rotate(var(--rotation-degree));
    transition: all 0.1s ease;
  }
}
