:root {
  --content-height: 0;
}

@keyframes content-anim {
  0% {
    transform: rotate(var(--rotation-degree));
  }

  100% {
    transform: rotate(var(--rotation-degree)) translateY(calc(-1 * var(--content-height)));
  }
}

.content-anim {
  animation: content-anim linear auto both;
  animation-timeline: scroll();
  animation-range: 0 100%;
}
