@keyframes edouard-anim {
  0% {}

  10% {
    transform: translateY(-6px);
    font-size: 3em;
  }

  100% {
    transform: translateY(-6px);
    font-size: 3em;
  }

}

.edouard-anim {
  animation: edouard-anim linear auto both;
  animation-timeline: scroll();
  animation-range: 0 100%;
}
