@supports (animation-timeline: scroll()) {
  @keyframes header-anim {
    13% {
      height: 100px;
    }

    100% {
      height: 100px;
    }
  }

  @keyframes header-bg-anim {
    13% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }

  .header-anim {
    animation: header-anim linear auto both;
    animation-timeline: scroll();
    animation-range: 0 100%;
  }

  .header-bg-anim {
    animation: header-bg-anim linear auto both;
    animation-timeline: scroll();
    animation-range: 0 100%;
  }
}

@supports not (animation-timeline: scroll()) {
  .header-anim {
    transition: all 0.3s ease;
  }

  .header-bg-anim {
    transition: all 0.3s ease;
  }

  .header-anim.scrolled {
    height: 100px;
  }

  .header-bg-anim.scrolled {
    /*border: 2px solid red;*/
    opacity: 0;
  }
}
