@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('cabinet-grotesk.css');
@import url('./anim.css');
@import url('./headerAnim.css');
@import url('./contentAnim.css');
@import url('./hiAnim.css');
@import url('./name-anim.css');
@import url('./im-anim.css');
@import url('./edouard-anim.css');
@import url('./rav-anim.css');
@import url('./little-frames-anim.css');
@import url('./details-anim.css');

:root {
  --content-width: 900px;
  --content-height: 1700px;
  --rotation-degree: 345deg;

  /* colors */
  --light-green: #00CEB5;
  --vanilla: #FCF6B1;
  --rusty-red: #D33F49;
  --charcoal: #353A47;
  --charcoal-light: #474C58;

  --darker-green: #3EBFA8;
  --lighter-green: #cefff4;
  /*--almost-black: #364958;*/
  --almost-black: #2c3130;
  --grey: #425E57;
  --darker-grey: #2D3F3A;

  --init-screen-width: 125px;
  --init-screen-height: 90px;
  --grow-screen-width: 400px;
  --grow-screen-height: 300px;
}

@font-face {
  font-family: 'iAQuattro';
  src: url('/fonts/iA-Quattro/400-normal.woff') format('woff'),
       url('/fonts/iA-Quattro/400-normal.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'iAQuattro-Italic';
  src: url('/fonts/iA-Quattro/400-italic.woff') format('woff'),
       url('/fonts/iA-Quattro/400-italic.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'iAQuattro-Bold';
  src: url('/fonts/iA-Quattro/700-normal.woff') format('woff'),
       url('/fonts/iA-Quattro/700-normal.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'iAQuattro-ItalicBold';
  src: url('/fonts/iA-Quattro/700-italic.woff') format('woff'),
       url('/fonts/iA-Quattro/700-italic.woff2') format('woff2');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

body {
  font-family: 'iAQuattro', sans-serif;
  color: var(--charcoal-light);
  margin: 0;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

.body-bg {
  background: url('../assets/img/mesh-gradient.png') no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

h1 {
  font-size: 6.5em;
  margin-top: 0;
  letter-spacing: 3px;
  margin-bottom: -10px;
}

p {
  font-size: 3em;
  margin-bottom: 0;
}

header {
  background: #00000015;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 290px;
  z-index: 99;
}

.headwrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: var(--content-width);
}

.name {
  z-index: 99;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  margin-top: 40px;

  p {
    margin-top: -10px;
  }
}

.rav {
  color: var(--charcoal-light);
  font-size: 8em;
  margin-top: -48px !important;
  margin-left: 50px !important;
  margin-bottom: 0;
}

.stroke {
  font-family: 'CabinetGrotesk-ExtraBold';

  .dot {
    font-family: 'Inter', sans-serif;
  }
}

.frames {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.hi {
  font-family: 'Inter', sans-serif;
  margin-left: -33px;
  margin-top: -45px;
  align-self: flex-start;
  transform: rotate(var(--rotation-degree));
  /*transform-origin: 100% 100%;*/

  z-index: 100;

  p {
    font-weight: bold;
    margin: 45px 2px;
    line-height: 1.05em;
  }
}

.flex {
  display: flex;
  gap: 10px;
}
