@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('cabinet-grotesk.css');
@import url('./anim.css');

:root {
  --content-width: 900px;
  --rotation-degree: 340deg;
  --light-green: #00CEB5;
  --darker-green: #3EBFA8;
  --lighter-green: #cefff4;
  --grey: #425E57;
  --darker-grey: #2D3F3A;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*border: 1px solid red;*/
  overflow: hidden;
}

body {
  background: linear-gradient(0.50turn, var(--darker-green), var(--light-green));
  font-family: 'Inter', sans-serif;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 6.5em;
  margin-top: 0;
}

p {
  font-size: 3em;
  margin-bottom: 0;
}

header {
  background-color: var(--light-green);
  width: 100%;
  display: flex;
  justify-content: center;
  height: 380px;
}

.headwrap {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: var(--content-width);
}

.name {
  margin: 160px 200px 20px 0;
  font-weight: 800;

  p {
    margin-top: -10px;
  }
}

.rav {
  color: var(--grey);
  font-size: 8em;
  /*letter-spacing: 3px;*/
  margin-top: -48px !important;
  margin-left: 50px !important;
}

.stroke {
  font-family: 'CabinetGrotesk-Bold';
}

.frames {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.hi {
  margin-left: -33px;
  margin-top: -50px;
  transform: rotate(var(--rotation-degree));
  z-index: 100;

  p {
    font-weight: bold;
    margin: 45px 2px;
    line-height: 1.05em;
  }
}

.flex {
  display: flex;
  gap: 10px;
}

.content {
  transform: rotate(var(--rotation-degree));
  display: flex;
  flex-direction: column;
  margin-left: 90px;

  > div {
    padding-block: 100px;
    border-bottom: 1px dotted white;
  }

  p {
    font-size: 1.2em;
  }

  strong {
    color: var(--lighter-green);
    font-size: 1.4em;
    font-weight: 500;
  }

  .techs {
    margin-left: 120px;
    margin-top: 12px;

    p {
      font-size: 1em;
    }
  }
}
