@supports (animation-timeline: scroll()) {
  @keyframes name-anim {
    0% {}

    10% {
      transform: translateY(25px);
    }

    100% {
      transform: translateY(25px);
      pointer-events: none;
    }

  }

  .name-anim {
    animation: name-anim linear auto both;
    animation-timeline: scroll();
    animation-range: 0 100%;
  }
}

@supports not (animation-timeline: scroll()) {
  .name-anim {
    transition: all 0.3s ease;
  }

  .name-anim.scrolled {
    transform: translateY(25px);
  }
}
