@keyframes rav-anim {
  0% {}

  10% {
    transform: translate(190px, -40px);
    font-size: 4.5em;
  }

  100% {
    transform: translate(190px, -40px);
    font-size: 4.5em;
  }

}

.rav-anim {
  animation: rav-anim linear auto both;
  animation-timeline: scroll();
  animation-range: 0 100%;
}
